<footer id="footer" class="color color-secondary short">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <ul class="social-icons mb-md">

          <li>
            <a href="mailto:mail@diego.codes" title="Send a mail to mail@diego.codes">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a href="https://github.com/DiegoVicen" title="DiegoVicen on GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/DiegoVicen" title="@DiegoVicen on Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a href="https://linkedin.com/in/diegovicen" title="Diego Vicente on LinkedIn">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a href="https://telegram.me/DiegoVicente" title="DiegoVicente on Telegram">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div id="license-note">
	<p>
	  Diego Vicente

	  &nbsp;&bull;&nbsp;

	  2018

	  &nbsp;&bull;&nbsp;

	  Licensed under MIT License
	</p>
  </div>

</footer>
